__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
/env/
instance/


.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/

*.log
nosetests.xml
coverage.xml
htmlcov/
.coverage


Thumbs.db

.vscode/


*.tgz
charts/
tmp/

.kube/

*.env
.env.*
secrets.yaml
config.yaml
*.key
*.pem